<div class="container">
  <h1>Stupid coaching</h1>
  <div class="text-question">
    <%= params[:question] %>
    <p><em>-You</em></p>
  </div>
  <div class="text-answer">
    <%= @answer %>
    <p><em>-Your coatch</em></p>
  </div>
</div>
